#personalPicture {
    width: 30%;
    height: auto;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#aboutInfo {
    width: 100%;
    margin-right: 0;
    font-size: 25px;
}