.button {
    background-color: #3d5a80;
    color: #e0fbfc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border-color: #3d5a80;
    outline: 0;
    font-size: 20px;
    box-shadow: 0px 4px 4px lightgray;
    border-style: none;
    transition: ease background-color 250ms;
}

.button:hover {
    background-color: #4f72a0;

}