.row {
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    border-color: black;
}

.card-img-top {
    height: 350px;
    width: auto;
}

.card:hover {
    box-shadow: 10px;
    transition: ease 250ms;
}