.icon {
    font-size: 50px;
    text-decoration: none;
    color: #3d5a80;
    transition: ease 250ms;
    padding: 10px;
    
}

.list{
    list-style: none;
    font-size: 50px;
    text-decoration: none;
    color: #3d5a80;
    transition: ease 250ms;
    padding: 10px;
}

.inIcon {
    margin-bottom: 0;
    padding-right: 15px;
}

@media (max-width: 739px) {
    .list {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .icon {
        font-size: 40px;
    }

}

@media (max-width: 535px) {
.iconText {
    display: none;
}

.list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 60px;
}
}