.sIcon{
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
}
.skillIcon {  
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 25px;
    margin-right: 75px;
}
.skillBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.margins {
    flex: 1;
   
}

@media (max-width: 1285px) {
    .skillIcon {
        margin-right: 25px;
    }
}