.sIcon{
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
}
.skillIcon {  
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 25px;
}
.margins {
    margin-left: 25px;
}